<link rel="stylesheet" href="/css/home.css">

 <div id="containe-principal">
        
        <header>
         <h1>Orçamentos</h1>
        </header>
        <div class="header-iterage">
        <input type="text" id="pesquisar-pessoa" placeholder="pesquisar servico" class="home" list="todoServico">
        <button  onclick="pesquisarServico()"type="submit">
        <ion-icon name="search-outline"></ion-icon>
        </button>
        </div>
        <dvi class="pessoas-cadastradas"  >
        </dvi>
        
        <datalist id="todaPessoa"></datalist>
            
    </div>
    
    <div class="navigation">
        <ul>
          <li id="home" onclick="mudarconteudo(this)">
              <ion-icon name="home-outline"></ion-icon>
              <span  class="title">home</span>
              
          </li>
          
          <li id="pessoas" onclick="mudarconteudo(this)" >
            <ion-icon name="people-outline"></ion-icon>
            <span  class="title">pessoas</span>
             
        </li>
        <li id="serviços" onclick="mudarconteudo(this)">
            <ion-icon name="hammer-outline"></ion-icon>
            <span  class="title">serviços</span>
        </li>
        <li id="vendas" onclick="mudarconteudo(this)">
            <ion-icon name="briefcase-outline"></ion-icon>
            <span  class="title">vendas</span>
        </li>
        <li id="pagamentos" onclick="mudarconteudo(this)">
          <ion-icon name="card-outline"></ion-icon>
            <span  class="title">pagamentos</span>
        </li>
        <li id="empresa" onclick="mudarconteudo(this)">
          <ion-icon name="person-circle-outline"></ion-icon>
            <span  class="title">empresa</span>
        </li>
         <li id="empresa" onclick="mudarconteudo(this)">
           <form action="/relatorios" method="post">
             <button style="border:none;background:transparent; " type="submit">
          <ion-icon name="reader-outline" style="font-size: 131%;"></ion-icon>
          </button>
          </form>
            <span  class="title">relatorios</span>
        </li>
        
        </ul>
    </div>


    <!--icones-->    
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!--principal-->
<script src="/js/home.js"></script>
</script>
<!--gerar pedidos-->
<script>
function moudePedido(i){
    return{
      cliente:i.cliente,
      dataCreate:i.dataCreate,
      dataEntrega:i.dataEntrega,
      servicos:[],
      id:i.id,
    }
  }
function colocarVendas(){
  for(venda of vendas){
    if(pedidos.length >0){
     for(pedido of pedidos){
       if(pedido.cliente == venda.cliente&
       pedido.dataEntrega == venda.dataEntrega&
       pedido.dataCreate ==venda.dataCreate){
         pedido.servicos.push(venda.servico)
       }else{
         for(p of pedidos){
           if(p.cliente == venda.cliente &p.dataCreate == venda.dataCreate){
            
           }else{
           pedidos.push(moudePedido(venda))
       
           break; 
           }
         }
       }
     }
    }else{

      pedidos.push(moudePedido(venda))
      colocarVendas()
      break;
    }
  }
  
 pedidosIguais()
}
function pedidosIguais(){
  for(pedido of pedidos){
    for(p of pedidos){
      if(p.cliente == pedido.cliente &p.dataCreate == pedido.dataCreate & p.dataEntrega == pedido.dataEntrega){
        if(p.servicos != pedido.servicos)
          if(p.servicos.length>pedido.servicos.length){
            pedidos.splice(pedidos.indexOf(pedido),1)
          }else{
             pedidos.splice(pedidos.indexOf(p),1)
          }
        
      }
    }
  }
}
function colocarPedidos(){
      let numeros = ['1','2','3','4','5','6','7','8','9','0']

  for(pedido of pedidos){
let dataEntrega =pedido.dataEntrega;
  

  var data = new Date();
  var dia     = data.getDate();
  var mes     = data.getMonth()+1;
  var ano    = data.getFullYear();

  let newAno = '';
  let newMes = '';
  let newDia='';
for(i = 0;i<dataEntrega.length;i++){
  if(i<4)
    newAno+=dataEntrega[i]
  if(i>4&i<7)
    newMes+=dataEntrega[i]
  if(i>7)
    newDia+=dataEntrega[i]
}
let newataEntrega = newDia+'/'+newMes+'/'+ newAno
if(newAno >= ano)
 if(newMes >=mes){
if(newMes == mes&newDia>=dia)
    document.querySelector('.pessoas-cadastradas').innerHTML +=`
    <div id="`+pedidos.indexOf(pedido)+`" ondblclick="mostraServicoDoPedido(this)">
      <h3>pedido para: `+pedido.cliente+`</h3>
      <h4> data de entrga: `+newataEntrega+`</h4>
      <form action="/cadastraPagmento?id=`+pedido.id+`" method="POST">
      <button type="submit">
        <ion-icon name="cash-outline" class="green aparecer"></ion-icon>
      </button>
      </form>
      <form action="/ordenServico?id=`+pedido.id+`" method="POST">
      <button type="submit" title="ordende serviço">
        <ion-icon name="document-text-outline" class="aparecer" ></ion-icon>
      </button>
      </form>
 
    </div>
    
    `
    else
    if(newMes > mes)
    document.querySelector('.pessoas-cadastradas').innerHTML +=`
    <div id="`+pedidos.indexOf(pedido)+`" ondblclick="mostraServicoDoPedido(this)">
      <h3>pedido para: `+pedido.cliente+`</h3>
      <h4> data de entrga: `+newataEntrega+`</h4>
      <form action="/cadastraPagmento?id=`+pedido.id+`" method="POST">
      <button type="submit">
        <ion-icon name="cash-outline" class="green aparecer"></ion-icon>
      </button>
      </form>
 
    </div>
    
    `
 }
 
  }
}
function mostraServicoDoPedido(i){
   let id = Number(i.id)
  if(i.style.height != "revert"){
  i.style.height = "revert";

  i. style.justifyContent = "flex-start";
  i.style.alignItems = "flex-start"
i.style.flexDirection = "column"

  
  for(let item of pedidos[id].servicos){
  i.innerHTML+=`
  <h3>`+item+`</h3><br>
  `
  }
  }else{
  i.style.flexDirection = "row"
     i.style.height = "auto"
     i.innerHTML = `
      <h3>Pedido para: `+pedidos[id].cliente+`</h3>
      <h4> data de entrga: `+pedidos[id].dataEntrega+`</h4>
            <form action="/cadastraPagmento?id=`+pedidos[id].id+`" method="POST">
      <button type="submit">
        <ion-icon name="cash-outline" class="green aparecer"></ion-icon>
      </button>
      </form>
      <form action="/ordenServico?id=1" method="POST">
      <button type="submit" title="ordende serviço">
        <ion-icon name="document-text-outline" class="aparecer md hydrated" role="img" aria-label="document text outline"></ion-icon>
      </button>
      </form>
      `
  }
}
function mostraAllPedidos(){
for(pedido of pedidos)
 document.querySelector('.pessoas-cadastradas').innerHTML +=`
    <div id="`+pedidos.indexOf(pedido)+`" ondblclick="mostraServicoDoPedido(this)">
      <h3> `+pedido.cliente+`</h3>
      <h4> data de entrga: `+pedido.dataEntrega+`</h4>
      <form action="/cadastraPagmento?id=`+pedido.id+`" method="POST">
      <button type="submit">
        <ion-icon name="cash-outline" class="green aparecer"></ion-icon>
      </button>
      </form>
      <form action="/ordenServico?id=1" method="POST">
      <button type="submit" title="ordende serviço">
        <ion-icon name="document-text-outline" class="aparecer md hydrated" role="img" aria-label="document text outline"></ion-icon>
      </button>
      </form>
    </div>
    
    `
}
</script>
<!--tamanho de tela-->
<script>
    var windowWidth = window.innerWidth;
  if(windowWidth <= 650){
celular( )
  }else{
    console.log('computador')
  }
  function celular(){
     let container = document.querySelector('#containe-principal');
    let controles = document.querySelector('.navigation')
    let  comTitle = document.querySelectorAll('.navigation ul li .title') 
    let ul = document.querySelector('.navigation ul')
    let input  = document.querySelector("#pesquisar-pessoa")
    //controles
  controles.style.width = "100%";
  controles.style.height ="100px"
  controles.style.position = "fixed";
  controles.style.top = "85%";
  controles.style.left ="0";
  // box-shadow:
  controles.style.boxShadow = "0 0px 15px rgba(0,0,0,0.5);"
  controles.style.borderRadius = "0"
  //ul
  ul.style.display = "flex";
  ul.style.justifyContent = "center"
  ul.style.alignItems =  "center"
  ul.style.width = "100%"
  ul.style.height = "50%"
  //title

  //container
  container.style.left ="0";
  container.style.width = "100%"
  container.style.height = "85%"
  container.style.borderRadius = "0"
  //input
  input.style.marginLeft = "10px"
  
  var index = 0, length = comTitle.length;
for ( ; index < length; index++) {
    comTitle[index].style.left = "-1px"
  comTitle[index].style.top="-80%"
  
}
}
</script>
<!--iniciar-->
<script>
function setup(){
  
  dataPagamento()
  colocarPedidos()
  converterVendas()

}
function draw(){
  
  if(ver == 'entrega'){
  mostraVendasEntrgas()
  console.log('')
  }
}

</script>
<!--caregar banco de dados -->
<script>
  //clients
  {{#each client}}
    clients.push({
      nome: ( '{{dataValues.nome}}'),
      email:('{{dataValues.email}}'),
      telefone: ('{{dataValues.telefone}}'),
      endereco:('{{dataValues.endereco}}'),
      cep:('{{dataValues.cep}}'),
      cpf:('{{dataValues.cpf}}'),
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //serviços
  {{#each servico}}
    servicos.push({
      nome:'{{dataValues.nome}}',
      descricao:'{{dataValues.descricao}}',
      valor:'{{dataValues.valorUnitario}}',
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //Vendas
  {{#each vendas}}
    vendas.push({
      cliente:'{{dataValues.client}}',
      servico:'{{dataValues.nomeServico}}',
      quantidade:'{{dataValues.quantidade}}',
      valor:'{{dataValues.valor}}',
      dataCreate:'{{dataValues.dataCreate}}',
      dataEntrega:'{{dataValues.dataEntrega}}',
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //Pagamentos
  {{#each pagamento}}
    pagamentos.push({
      client: ( '{{dataValues.client}}'),
      dataPedido:('{{dataValues.dataPedido}}'),
      valorTotal: ('{{dataValues.valorTotal}}'),
      tipoPagamento:('{{dataValues.tipoPagamento}}'),
      formaPagamneto:('{{dataValues.formaPagamneto}}'),
      valorParcelado:'{{dataValues.valorParcelado}}',
      Vencimento:'{{dataValues.Vencimento}}',
    })
  {{/each}}
  {{#each empresa}}
  empresa = {
    nome: '{{dataValues.nome}}',
    logo:('{{dataValues.logo}}'),
    cidade:'{{dataValues.cidade}}',
    endereco:'{{dataValues.endereco}}',
    cnpj:'{{dataValues.cnpj}}',
    telefone:'{{dataValues.telefone}}'
  }
  {{/each}}
</script>
<script>
  colocarVendas()
  function mostraVendasEntrgas(){
    console.log('')
for(venda of vendas){
  var data = new Date();
  var dia     = data.getDate();
  var mes     = data.getMonth()+1;
  var ano    = data.getFullYear();
  mes = String(mes)

if(mes.length == 1){
mes = '0'+mes
}

  let hoje = ano+'-'+mes+'-'+dia

  
  if(venda.dataEntrega == hoje){
  Swal.fire({
    icon: 'info',
  title: 'Vendas!',
  text: 'temos uma venda de '+venda.cliente+' que a data de entrega é hoje',
  confirmButtonText: 'ok'
})
}
 
}
ver = ''
  }
  
</script>