
<style>  .empresa
  {
    display: flex;
  }
  .empresa div.dados{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    flex-direction: row;
    align-content: flex-start;
  }
  .cliet{
display:grid;
grid-template-columns: 450px 200px 200px;
width:100%;
  }
  .empresa h3{
    margin: 10px;
  }
  textArea#descrição{
    border: none;
    width: 100%;
    height: 84px;
    font-size: 20px;
    font-family: Fredoka, sans-serif;
    resize: vertical;
  }
  .servico div{
    display:grid;
grid-template-columns: 40% 200px 200px;
width:100%;
  }
    .servico div h2
    {
      text-align: center;
    }
    img{
      width: 150px;
    margin: 0px 80px;
    margin-top: -30px;
}
    }
</style>
<h2 style="text-align:center ;">Pedido</h2>





<!-- carregar banco de dados-->
<script>
     let servicos = []
  let clients = []
  let vendas = []
  let pedidos = []
  let pagamentos = []
  let empresa ;
     //clients
  {{#each client}}
    clients.push({
      nome: ( '{{dataValues.nome}}'),
      email:('{{dataValues.email}}'),
      telefone: ('{{dataValues.telefone}}'),
      endereco:('{{dataValues.endereco}}'),
      cep:('{{dataValues.cep}}'),
      cpf:('{{dataValues.cpf}}'),
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //serviços
  {{#each servico}}
    servicos.push({
      nome:'{{dataValues.nome}}',
      descricao:'{{dataValues.descricao}}',
      valor:'{{dataValues.valorUnitario}}',
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //Vendas
  {{#each vendas}}
    vendas.push({
      cliente:'{{dataValues.client}}',
      servico:'{{dataValues.nomeServico}}',
      quantidade:'{{dataValues.quantidade}}',
      valor:'{{dataValues.valor}}',
      dataCreate:'{{dataValues.dataCreate}}',
      dataEntrega:'{{dataValues.dataEntrega}}',
      id:'{{dataValues.id}}'
    })
  {{/each}}
  //Pagamentos
  {{#each pagamento}}
    pagamentos.push({
      client: ( '{{dataValues.client}}'),
      dataPedido:('{{dataValues.dataPedido}}'),
      valorTotal: ('{{dataValues.valorTotal}}'),
      tipoPagamento:('{{dataValues.tipoPagamento}}'),
      formaPagamneto:('{{dataValues.formaPagamneto}}'),
      valorParcelado:'{{dataValues.valorParcelado}}',
      Vencimento:'{{dataValues.Vencimento}}',
    })
  {{/each}}
  {{#each empresa}}
  empresa = {
    nome: '{{dataValues.nome}}',
    logo:('{{dataValues.logo}}'),
    cidade:'{{dataValues.cidade}}',
    endereco:'{{dataValues.endereco}}',
    cnpj:'{{dataValues.cnpj}}',
    telefone:'{{dataValues.telefone}}'
  }
  {{/each}}
</script>
<!--colocar pedidos-->
<script>
 colocarVendas()
  pedidosIguais()
function moudePedido(i){
    return{
      cliente:i.cliente,
      dataCreate:i.dataCreate,
      dataEntrega:i.dataEntrega,
      servicos:[],
      id:i.id,
    }
  }
function colocarVendas(){
  for(venda of vendas){
    if(pedidos.length >0){
     for(pedido of pedidos){
       if(pedido.cliente == venda.cliente&
       pedido.dataEntrega == venda.dataEntrega&
       pedido.dataCreate ==venda.dataCreate){
         console.log(venda)
         pedido.servicos.push(
           {nome:venda.servico,
           quantidade:Number(venda.quantidade),
           valor:Number(venda.valor)}
           )
       }else{
         for(p of pedidos){
           if(p.cliente == venda.cliente &p.dataCreate == venda.dataCreate){
            
           }else{
           pedidos.push(moudePedido(venda))
       
           break; 
           }
         }
       }
     }
    }else{

      pedidos.push(moudePedido(venda))
      colocarVendas()
      break;
    }
  }
  
 pedidosIguais()
}
function pedidosIguais(){
  for(pedido of pedidos){
    for(p of pedidos){
      if(p.cliente == pedido.cliente &p.dataCreate == pedido.dataCreate & p.dataEntrega == pedido.dataEntrega){
        if(p.servicos != pedido.servicos)
          if(p.servicos.length>pedido.servicos.length){
            pedidos.splice(pedidos.indexOf(pedido),1)
          }else{
             pedidos.splice(pedidos.indexOf(p),1)
          }
        
      }
    }
  }
}
let moude = ''
for(pedido of pedidos){
    let urlParams = new URLSearchParams(window.location.search);
      let id = urlParams.get("id");
      
      if(pedido.id == id)
      moude = pedido;
}
console.log(empresa)
</script>
<!--principál-->
<script>
    //dados da empresa
    document.querySelector('body').innerHTML+=`
    <header class="empresa" style="margin-bottom: 45px;">
      <div style="width:25%">
  <img src="/img/logo.png"/>
  </div>
  <div class='dados'>
    <h3>nome: `+empresa.nome+`</h3>
   <h3>cidade: `+empresa.cidade+`</h3>
  <h3>endereço: `+empresa.endereco+`</h3>
   <h3>cnpj: `+empresa.cnpj+`</h3>
    <h3>telefone: `+empresa.telefone+`</h3>
      </div>
</header>
    `
    //cliente
let urlParams = new URLSearchParams(window.location.search);
   let id = urlParams.get("id");
   console.log(pedidos[Number(id)-1])
   document.querySelector('body').innerHTML+=`
    <header class="cliet" style="margin-bottom: 45px;">
  <H2>cliente: `+pedidos[Number(id)-1].cliente+`</H2>
  <h3>telefone:`+clients[Number(id)-1].telefone+` </h3>
    <h3>endereço:`+clients[Number(id)-1].endereco+` </h3>

  <h3>Com data de emtrega em: `+ trasformData(pedidos[Number(id)-1].dataEntrega)+`</h3>
  <h3> </h3>
  <h3> </h3>
   <h3>Pedido em: `+ trasformData(pedidos[Number(id)-1].dataCreate)+`</h3>

</header>
  <hr>

   `
   //serviços
    document.querySelector('body').innerHTML+=`
    <header class="servico">
      <div>
       <h2 style="text-align:left"> serviços</h2>
       <h2> quantidade</h2>
       <h2 style="text-align:right"> valor</h2>
</div>
<hr>
</header>
    `;
    let valorTotal = 0
    for(servico of pedidos[Number(id)-1].servicos){
valorTotal+=servico.valor*servico.quantidade
    document.querySelector('body').innerHTML+=`
<header class="servico">
  <div>
    <div style="display:block">
      <H2 style="text-align:left">serviço: `+servico.nome+`</H2>
 <textArea id="descrição" >descrição: </textArea>
 </div>
 <h2> `+servico.quantidade+`</h2>
  <h2 style="text-align:right"> R$ `+servico.valor*servico.quantidade+`</h2>
  </div>
    <hr>
</header>`
    }
    // valor total
 document.querySelector('body').innerHTML+=`
 <header class="servico">
      <div>
       <h2 style="text-align:left"> valor total</h2>
       <h2> </h2>
       <h2 style="text-align:right">R$ `+valorTotal+`</h2>
</div>
</header>
 `
function trasformData(data){
let ano = ''+data[0]+data[1]+data[2]+data[3]
let mes = ''+data[5]+data[6]
let dia = ''+data[8]+data[9]

return dia+'/'+mes+'/'+ano
 console.log("[ano]",ano)
 console.log("[mes]",mes)
 console.log("[dia]",dia)
}
   
</script>